*{
    font-family:'Work sans';
    /* border: 1px solid red; */
}
.banner{
    margin: 0%;
    display: flex;
    position: absolute;
    width: 525px;
    height: 230px;
    left: 550px;
    top: 216px;


    font-family:'work sans';
    font-size: 30px;
    font: weight 20px;
    font-style:normal;
    line-height: 55px;
    text-align: right;
}

.possion-h{
position: absolute;
width: 450px;
height: 200px;
left: 500px;
top: 180;


font-family: 'work sans';
font: size 60px;;
font-weight: 700;
line-height: 65px;
color: white;
}

.possion-p{
    position: absolute;
    width: 490px;
    height: 75px;
    left: 460px;
    top: 225px;


    font-family: 'work sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: white;
}
.btn-primary{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 332px;
    top: 70px;

    font-family: 'Work sans';
    font-size: 20px;
    font-weight: 300;
    line-height: 16px;
    color:rgb(7, 142, 196);
    border: 2px solid rgb(7, 142, 196);
    border-radius: 7px;
    



}
.section-title{
    position: absolute;
    width: 285px;
    height: 95px;
    left: 860px;
    top: 1000px;

    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}
.section-description{
    position: absolute;
    width: 415px;
    height: 104px;
    left: 860px;
    top: 1125px;


    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.list-item {
    list-style:none;
    position: absolute;
    width: 350px;
    height: 162px;
    left: 825px;
    top: 1220px;
    
}
.list-item li::before{
    content:'✓'

}
